# Installation: https://hub.docker.com/r/gitlab/gitlab-runner

services:
  gitlab-runner:
    image: gitlab/gitlab-runner:v17.5.1
    container_name: gitlab-runner
    environment:
      - TZ=${GITLAB_RUNNER_TZ}
    volumes:
      - /opt/appdata/gitlab-runner/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
