{
	"bracketSpacing": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"printWidth": 80,
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore"
}