# Installation: https://github.com/Tyrrrz/DiscordChatExporter/blob/master/.docs/Docker.md

services:
  discordchatexporter:
    image: tyrrrz/discordchatexporter:2.43.3
    container_name: discordchatexporter
    restart: unless-stopped
    volumes:
      - /opt/appdata/discord-chat-exporter:/out
    environment:
      - DISCORD_TOKEN=${DISCORD_CHAT_EXPORTER_DISCORD_TOKEN}
      - DISCORD_TOKEN_BOT=${DISCORD_CHAT_EXPORTER_DISCORD_TOKEN_BOT}
    command: exportguild -g ${DISCORD_CHAT_EXPORTER_DISCORD_SERVER_ID} -f HtmlDark --dateformat "dd/MM/yyyy HH:mm"

    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
