# Installation: https://github.com/laurent22/joplin/blob/dev/packages/server/README.md

version: '3.9'
services:
  joplin:
    container_name: joplin
    image: etechonomy/joplin-server:2.14.2
    environment:
      - APP_PORT=${JOPLIN_APP_PORT}
      - APP_BASE_URL=${JOPLIN_APP_BASE_URL}
      - DB_CLIENT=${JOPLIN_DB_CLIENT}
      - POSTGRES_PASSWORD=${JOPLIN_POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${JOPLIN_POSTGRES_DATABASE}
      - POSTGRES_USER=${JOPLIN_POSTGRES_USER}
      - POSTGRES_PORT=${JOPLIN_POSTGRES_PORT}
      - POSTGRES_HOST=${JOPLIN_POSTGRES_HOST}
      - MAILER_ENABLED=${JOPLIN_MAILER_ENABLED}
      - MAILER_HOST=${JOPLIN_MAILER_HOST}
      - MAILER_PORT=${JOPLIN_MAILER_PORT}
      - MAILER_SECURE=${JOPLIN_MAILER_SECURE}
      - MAILER_AUTH_USER=${JOPLIN_MAILER_AUTH_USER}
      - MAILER_AUTH_PASSWORD=${JOPLIN_MAILER_AUTH_PASSWORD}
      - MAILER_NOREPLY_NAME=${JOPLIN_MAILER_NOREPLY_NAME}
      - MAILER_NOREPLY_EMAIL=${JOPLIN_MAILER_NOREPLY_EMAIL}
    ports:
      - 22300:22300
    restart: unless-stopped
    networks:
      - proxy

  joplin-postgres:
    image: postgres:16.3
    container_name: joplin-postgres
    volumes:
      - joplin-postgresql-volume:/var/lib/postgresql/data
    ports:
      - 5255:5432
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=${JOPLIN_POSTGRES_PASSWORD}
      - POSTGRES_USER=${JOPLIN_POSTGRES_USER}
      - POSTGRES_DB=${JOPLIN_POSTGRES_DATABASE}
    networks:
      - proxy

volumes:
  joplin-postgresql-volume: {}

networks:
  proxy:
    driver: bridge
    external: true
