# Installation: https://hub.docker.com/r/linuxserver/syncthing

services:
  syncthing:
    image: linuxserver/syncthing:1.29.1
    container_name: syncthing
    environment:
      - PUID=${SYNCTHING_PUID}
      - PGID=${SYNCTHING_PGID}
      - TZ=${SYNCTHING_TZ}
    volumes:
      - /opt/appdata/syncthing:/config
      - /opt/appdata/:/machine-appdata
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
