# Installation: https://hub.docker.com/_/mongo

version: '3.9'
services:
  mongo:
    image: mongo:8.0.0
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - /opt/appdata/mongodb/data:/data/db
    ports:
      - 27018:27017
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
