# Installation: https://hub.docker.com/r/vaultwarden/server

version: '3.9'
services:
  vaultwarden:
    image: vaultwarden/server:1.32.0
    container_name: vaultwarden
    ports:
      # Port for WebSocket notifications
      - 3012:80
    environment:
      # Enable WebSocket notifications.
      - WEBSOCKET_ENABLED=${VAULTWARDEN_WEBSOCKET_ENABLED}
    volumes:
      - /opt/appdata/vaultwarden:/data
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
