version: '3.9'
services:
  hashicorp-vault-server:
    container_name: hashicorp-vault-server
    hostname: hashicorp-vault-server
    image: hashicorp/vault:1.15
    ports:
      - 1031:8200
    volumes:
      - ./config:/vault/config # Config
      - /opt/appdata/vault/file:/vault/file # Data of file storage with Policies, Data, and Logs.
    environment:
      - VAULT_ADDR=${HASHICORP_VAULT_SERVER_VAULT_ADDR}
      - VAULT_API_ADDR=${HASHICORP_VAULT_SERVER_VAULT_API_ADDR}
      - VAULT_ADDRESS=${HASHICORP_VAULT_SERVER_VAULT_ADDRESS}
    command: vault server -config=/vault/config/config.hcl
    cap_add:
      - IPC_LOCK
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
# “core: seal configuration missing, not initialized” error -
# Usually this error is shown when the Vault’s storage backend is not initialized. -
# You can initialize it with `vault operator init`.

# https://www.misterpki.com/vault-docker/
# https://www.bogotobogo.com/DevOps/Docker/Docker-Vault-Consul-B.php
