# Installation: https://hub.docker.com/r/linuxserver/grocy

services:
  grocy:
    image: linuxserver/grocy:4.3.0
    container_name: grocy
    environment:
      - PUID=${GROCY_PUID}
      - PGID=${GROCY_PGID}
      - TZ=${GROCY_TZ}
    volumes:
      - /opt/appdata/grocy:/config
    ports:
      - 9283:80
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
