# Installation: https://hub.docker.com/_/postgres

version: '3.9'
services:
  postgres:
    image: postgres:16.3-bullseye
    container_name: postgres
    hostname: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgresql-volume:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: unless-stopped
    networks:
      - proxy

volumes:
  postgresql-volume: {}

networks:
  proxy:
    driver: bridge
    external: true
