PHOTOPRISM_ADMIN_USER='admin'
PHOTOPRISM_ADMIN_PASSWORD='insecure'
PHOTOPRISM_AUTH_MODE='password'
PHOTOPRISM_SITE_URL='http://localhost:2342/'
PHOTOPRISM_DISABLE_TLS='false'
PHOTOPRISM_DEFAULT_TLS='true'
PHOTOPRISM_ORIGINALS_LIMIT='5000'
PHOTOPRISM_HTTP_COMPRESSION='gzip'
PHOTOPRISM_LOG_LEVEL='info'
PHOTOPRISM_READONLY='false'
PHOTOPRISM_EXPERIMENTAL='false'
PHOTOPRISM_DISABLE_CHOWN='false'
PHOTOPRISM_DISABLE_WEBDAV='false'
PHOTOPRISM_DISABLE_SETTINGS='false'
PHOTOPRISM_DISABLE_TENSORFLOW='false'
PHOTOPRISM_DISABLE_FACES='false'
PHOTOPRISM_DISABLE_CLASSIFICATION='false'
PHOTOPRISM_DISABLE_VECTORS='false'
PHOTOPRISM_DISABLE_RAW='false'
PHOTOPRISM_RAW_PRESETS='false'
PHOTOPRISM_JPEG_QUALITY='85'
PHOTOPRISM_DETECT_NSFW='false'
PHOTOPRISM_UPLOAD_NSFW='true'
PHOTOPRISM_DATABASE_DRIVER='mysql'
PHOTOPRISM_DATABASE_SERVER='photoprism-mariadb:3306'
PHOTOPRISM_DATABASE_NAME='photoprism'
PHOTOPRISM_DATABASE_USER='photoprism'
PHOTOPRISM_DATABASE_PASSWORD='insecure'
PHOTOPRISM_SITE_CAPTION='AI-Powered Photos App'
PHOTOPRISM_SITE_DESCRIPTION=''
PHOTOPRISM_SITE_AUTHOR=''
PHOTOPRISM_MARIADB_AUTO_UPGRADE='1'
PHOTOPRISM_MARIADB_INITDB_SKIP_TZINFO='1'
PHOTOPRISM_MARIADB_DATABASE='photoprism'
PHOTOPRISM_MARIADB_USER='photoprism'
PHOTOPRISM_MARIADB_PASSWORD='insecure'
PHOTOPRISM_MARIADB_ROOT_PASSWORD='insecure'
