# Installation: https://hub.docker.com/r/haveagitgat/tdarr

services:
  tdarr:
    container_name: tdarr
    image: haveagitgat/tdarr:2.26.01
    restart: unless-stopped
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      - TZ=${TDARR_TZ}
      - PUID=${TDARR_PUID}
      - PGID=${TDARR_PGID}
      - UMASK_SET=${TDARR_UMASK_SET}
      - serverIP=${TDARR_serverIP}
      - serverPort=${TDARR_serverPort}
      - webUIPort=${TDARR_webUIPort}
      - internalNode=${TDARR_internalNode}
      - inContainer=${TDARR_inContainer}
      - ffmpegVersion=${TDARR_ffmpegVersion}
      - nodeName=${TDARR_nodeName}
      - NVIDIA_DRIVER_CAPABILITIES=${TDARR_NVIDIA_DRIVER_CAPABILITIES}
      - NVIDIA_VISIBLE_DEVICES=${TDARR_NVIDIA_VISIBLE_DEVICES}
    volumes:
      - /opt/appdata/tdarr/server:/app/server
      - /opt/appdata/tdarr/configs:/app/configs
      - /opt/appdata/tdarr/logs:/app/logs
      - /opt/appdata/media:/media
      - /opt/appdata/tdarr/transcode_cache:/temp
    devices:
      - /dev/dri:/dev/dri
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - proxy

  # node example
  tdarr-node:
    image: ghcr.io/haveagitgat/tdarr_node:latest
    container_name: tdarr-node
    restart: unless-stopped
    environment:
      - TZ=${TDARR_TZ}
      - PUID=${TDARR_PUID}
      - PGID=${TDARR_PGID}
      - UMASK_SET=${TDARR_UMASK_SET}
      - nodeName=${TDARR_nodeName}
      - serverIP=${TDARR_serverIP}
      - serverPort=${TDARR_serverPort}
      - inContainer=${TDARR_inContainer}
      - ffmpegVersion=${TDARR_ffmpegVersion}
      - NVIDIA_DRIVER_CAPABILITIES=${TDARR_NVIDIA_DRIVER_CAPABILITIES}
      - NVIDIA_VISIBLE_DEVICES=${TDARR_NVIDIA_VISIBLE_DEVICES}
    volumes:
      - /opt/appdata/tdarr/configs:/app/configs
      - /opt/appdata/tdarr/logs:/app/logs
      - /opt/appdata/media:/media
      - /opt/appdata/tdarr/transcode_cache:/temp
    devices:
      - /dev/dri:/dev/dri
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
