# Installation: https://hub.docker.com/r/requarks/wiki

version: '3.9'
services:
  wiki:
    image: requarks/wiki:2.5
    container_name: wiki
    environment:
      - DB_TYPE=${WIKI_DB_TYPE}
      - DB_HOST=${WIKI_DB_HOST}
      - DB_PORT=${WIKI_DB_PORT}
      - DB_USER=${WIKI_DB_POSTGRES_USER}
      - DB_PASS=${WIKI_DB_POSTGRES_PASSWORD}
      - DB_NAME=${WIKI_DB_POSTGRES_DB}
    restart: unless-stopped
    ports:
      - 1036:3000
    depends_on:
      - wiki-db
    networks:
      - proxy

  wiki-db:
    image: postgres:16-alpine
    container_name: wiki-db
    environment:
      - POSTGRES_DB=${WIKI_DB_POSTGRES_DB}
      - POSTGRES_PASSWORD=${WIKI_DB_POSTGRES_PASSWORD}
      - POSTGRES_USER=${WIKI_DB_POSTGRES_USER}
    volumes:
      - wiki-db-volume:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - proxy

volumes:
  wiki-db-volume: {}

networks:
  proxy:
    driver: bridge
    external: true
