# Installation: https://hub.docker.com/_/redis

version: '3.9'
services:
  redis:
    image: redis:7.4.0
    container_name: redis
    ports:
      - 6379:6379
    healthcheck:
      test: [CMD-SHELL, redis-cli ping | grep PONG]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
