# Installation: https://hub.docker.com/r/yrzr/gitlab-ce-arm64v8

services:
  gitlab:
    image: yrzr/gitlab-ce-arm64v8:17.8.0-ce.0
    container_name: gitlab-ce
    privileged: true
    environment:
      - GITLAB_ROOT_PASSWORD=${GITLAB_ROOT_PASSWORD}
      - GITLAB_OMNIBUS_CONFIG=${GITLAB_OMNIBUS_CONFIG}
    ports:
      - 1011:22
      - 1012:80
      - 1013:443
    volumes:
      - /opt/appdata/gitlab/config:/etc/gitlab:z
      - /opt/appdata/gitlab/logs:/var/log/gitlab:z
      - /opt/appdata/gitlab/data:/var/opt/gitlab:z
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
