# Installation: https://grafana.com/docs/grafana/latest/setup-grafana/installation/docker/

services:
  grafana:
    image: grafana/grafana:11.2.0
    container_name: grafana
    ports:
      - 1001:3000
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    volumes:
      - /opt/appdata/grafana:/var/lib/grafana
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
