# Installation: https://hub.docker.com/r/jlesage/putty

services:
  putty:
    image: jlesage/putty:v24.07.1
    container_name: putty
    environment:
      - TZ=${PUTTY_TZ}
      - DISPLAY_WIDTH=${PUTTY_DISPLAY_WIDTH}
      - DISPLAY_HEIGHT=${PUTTY_DISPLAY_HEIGHT}
      - SECURE_CONNECTION=${PUTTY_SECURE_CONNECTION}
      - ENABLE_CJK_FONT=${PUTTY_ENABLE_CJK_FONT}
      - USER_ID=${PUTTY_USER_ID}
      - GROUP_ID=${PUTTY_GROUP_ID}
      - UMASK=${PUTTY_UMASK}
    ports:
      - 7818:5800
      - 7916:5900
    volumes:
      - /opt/appdata/putty:/config:rw
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
