# Installation: https://hub.docker.com/r/authelia/authelia
# https://github.com/authelia/authelia/blob/master/examples/compose/local/docker-compose.yml

services:
  authelia:
    image: authelia/authelia:4.38
    container_name: authelia
    volumes:
      - ./config:/config
    ports:
      - 9091:9091
    restart: unless-stopped
    healthcheck:
      ## In production the healthcheck section should be commented.
      disable: true
    environment:
      - TZ=${AUTHELIA_TZ}
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
