# Installation: https://hub.docker.com/r/linuxserver/code-server

version: '3.9'
services:
  codeserver:
    image: wolflith/vscode:latest
    build:
      context: .
      dockerfile: dockerfile
    container_name: codeserver
    environment:
      - PUID=${CODE_SERVER_PUID}
      - PGID=${CODE_SERVER_PGID}
      - TZ=${CODE_SERVER_TZ}
      - SUDO_PASSWORD=${CODE_SERVER_SUDO_PASSWORD:?error}
      - DEFAULT_WORKSPACE=${CODE_SERVER_SERVER_DEFAULT_WORKSPACE}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/appdata/codeserver/config:/config
      - ./Wolflith.code-workspace:/config/workspace/Wolflith.code-workspace
      - /opt:/repos
      - /mnt:/mnt
      - /home:/home
    ports:
      - 1007:8443
    restart: unless-stopped
    depends_on:
      - dockersocketvscode
    networks:
      - proxy

  dockersocketvscode:
    container_name: dockersocketvscode
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - proxy
    environment:
      CONTAINERS: 1
      POST: 0
    privileged: true
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true
