---
version: '3.8'
services:
  dashy:
    image: lissy93/dashy:2.1.1
    container_name: Dashy
    hostname: Dashy

    # Pass in your config file below, by specifying the path on your host machine
    volumes:
      - /mnt/appdata/dashy/my-config.yml:/app/public/conf.yml
    ports:
      - 4000:80

    # Set any environmental variables
    environment:
      - NODE_ENV=production

      # Specify your user ID and group ID. You can find this by running `id -u` and `id -g`
      - UID=1000
      - GID=1000

    # Specify restart policy
    restart: unless-stopped

    # Configure healthchecks
    healthcheck:
      test: ['CMD', 'node', '/app/services/healthcheck']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
