# Installation: https://hub.docker.com/r/portainer/portainer-ce

services:
  portainer:
    image: portainer/portainer-ce:2.26.0-alpine
    container_name: portainer
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/appdata/portainer:/data
    ports:
      - 8000:8000
      - 9000:9000
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
