# Installation: https://hub.docker.com/r/typhonragewind/meshcentral

version: '3.9'
services:
  meshcentral:
    container_name: meshcentral
    image: typhonragewind/meshcentral:1.1.24
    ports:
      - 8089:443
    environment:
      - HOSTNAME=${MESHCENTRAL_HOSTNAME}
      - REVERSE_PROXY=${MESHCENTRAL_REVERSE_PROXY}
      - REVERSE_PROXY_TLS_PORT=${MESHCENTRAL_REVERSE_PROXY_TLS_PORT}
      - IFRAME=${MESHCENTRAL_IFRAME}
      - ALLOW_NEW_ACCOUNTS=${MESHCENTRAL_ALLOW_NEW_ACCOUNTS}
      - WEBRTC=${MESHCENTRAL_WEBRTC}
    volumes:
      - /opt/appdata/meshcentral/data:/opt/meshcentral/meshcentral-data
      - /opt/appdata/meshcentral/user_files:/opt/meshcentral/meshcentral-files
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
