# Installation: https://hub.docker.com/_/influxdb

version: '3.9'
services:
  influxdb:
    image: influxdb:2.7.6
    container_name: influxdb
    ports:
      - 8086:8086
    volumes:
      - /opt/appdata/influxdb/data:/var/lib/influxdb2
      - /opt/appdata/influxdb/config:/etc/influxdb2
      # # (optional) If you're using self-signed certs
      #- /etc/ssl/cloudflare/cert.pem/:/etc/ssl/cert.pem
      #- /etc/ssl/cloudflare/cert-key.pem/:/etc/ssl/cert-key.pem
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=${DOCKER_INFLUXDB_INIT_MODE}
      - DOCKER_INFLUXDB_INIT_USERNAME=${DOCKER_INFLUXDB_INIT_MODE}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${DOCKER_INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DOCKER_INFLUXDB_INIT_BUCKET}
      # (optional) Configure Data Retention
      #- DOCKER_INFLUXDB_INIT_RETENTION='1w'
      # (optional) Admin Token
      #- DOCKER_INFLUXDB_INIT_ADMIN_TOKEN='my-super-secret-auth-token'
    # (optional) If you're using self-signed certs
    #command: influxd --tls-cert=/etc/ssl/cert.pem --tls-key=/etc/ssl/cert-key.pem
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
