version: '3.9'

services:
  minio-shinpuru:
    image: minio/minio:latest
    expose:
      - '9000'
    volumes:
      - /mnt/appdata/shinpuru/minio/data:/data
    environment:
      - MINIO_ACCESS_KEY=${MINIO_SHINPURU_MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SHINPURU_MINIO_SECRET_KEY}
      - MINIO_REGION_NAME=${MINIO_SHINPURU_MINIO_REGION_NAME}
    command: server /data # --certs-dir /etc/cert
    restart: always
    networks:
      - proxy

  redis-shinpuru:
    image: redis:latest
    expose:
      - '6379'
    restart: always
    networks:
      - proxy

  mysql-shinpuru:
    image: mariadb:latest
    expose:
      - '3306'
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_SHINPURU_MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_SHINPURU_MYSQL_DATABASE}
    volumes:
      - /mnt/appdata/shinpuru/mysql/cfg:/etc/mysql
      - /mnt/appdata/shinpuru/mysql/lib:/var/lib/mysql
    restart: always
    networks:
      - proxy

  shinpuru:
    image: ghcr.io/zekrotja/shinpuru:latest
    volumes:
      - /mnt/appdata/shinpuru/config:/etc/config
      - /mnt/appdata/shinpuru/cert:/etc/cert
    expose:
      - '8080'
    environment:
      - SP_VERSION=${SHINPURU_SP_VERSION}
      - SP_DISCORD_TOKEN=${SHINPURU_SP_DISCORD_TOKEN}
      - SP_DISCORD_GENERALPREFIX=${SHINPURU_SP_DISCORD_GENERALPREFIX}
      - SP_DISCORD_OWNERID=${SHINPURU_SP_DISCORD_OWNERID}
      - SP_DISCORD_CLIENTID=${SHINPURU_SP_DISCORD_CLIENTID}
      - SP_DISCORD_CLIENTSECRET=${SHINPURU_SP_DISCORD_CLIENTSECRET}
      - SP_DISCORD_GUILDSLIMIT=${SHINPURU_SP_DISCORD_GUILDSLIMIT}
      - SP_DISCORD_GLOBALCOMMANDRATELIMIT_ENABLED=${SHINPURU_SP_DISCORD_GLOBALCOMMANDRATELIMIT_ENABLED}
      - SP_DISCORD_GLOBALCOMMANDRATELIMIT_BURST=${SHINPURU_SP_DISCORD_GLOBALCOMMANDRATELIMIT_BURST}
      - SP_DISCORD_GLOBALCOMMANDRATELIMIT_LIMITSECONDS=${SHINPURU_SP_DISCORD_GLOBALCOMMANDRATELIMIT_LIMITSECONDS}
      - SP_DATABASE_TYPE=${SHINPURU_SP_DATABASE_TYPE}
      - SP_DATABASE_MYSQL_HOST=${SHINPURU_SP_DATABASE_MYSQL_HOST}
      - SP_DATABASE_MYSQL_USER=${SHINPURU_SP_DATABASE_MYSQL_USER}
      - SP_DATABASE_MYSQL_PASSWORD=${SHINPURU_SP_DATABASE_MYSQL_PASSWORD}
      - SP_DATABASE_MYSQL_DATABASE=${SHINPURU_SP_DATABASE_MYSQL_DATABASE}
      - SP_CACHE_REDIS_ADDR=${SHINPURU_SP_CACHE_REDIS_ADDR}
      - SP_CACHE_REDIS_TYPE=${SHINPURU_SP_CACHE_REDIS_TYPE}
      - SP_CACHE_CACHEDATABASE=${SHINPURU_SP_CACHE_CACHEDATABASE}
      - SP_LOGGING_COMMANDLOGGING=${SHINPURU_SP_LOGGING_COMMANDLOGGING}
      - SP_LOGGING_LOGLEVEL=${SHINPURU_SP_LOGGING_LOGLEVEL}
      - SP_STORAGE_TYPE=${SHINPURU_SP_STORAGE_TYPE}
      - SP_STORAGE_MINIO_ENDPOINT=${SHINPURU_SP_STORAGE_MINIO_ENDPOINT}
      - SP_STORAGE_MINIO_ACCESSKEY=${SHINPURU_SP_STORAGE_MINIO_ACCESSKEY}
      - SP_STORAGE_MINIO_ACCESSSECRET=${SHINPURU_SP_STORAGE_MINIO_ACCESSSECRET}
      - SP_STORAGE_MINIO_LOCATION=${SHINPURU_SP_STORAGE_MINIO_LOCATION}
      - SP_STORAGE_MINIO_SECURE=${SHINPURU_SP_STORAGE_MINIO_SECURE}
      - SP_WEBSERVER_ENABLED=${SHINPURU_SP_WEBSERVER_ENABLED}
      - SP_WEBSERVER_ADDR=${SHINPURU_SP_WEBSERVER_ADDR}
      - SP_WEBSERVER_APITOKENKEY=${SHINPURU_SP_WEBSERVER_APITOKENKEY}
      - SP_WEBSERVER_PUBLICADDR=${SHINPURU_SP_WEBSERVER_PUBLICADDR}
      - SP_WEBSERVER_RATELIMIT_ENABLED=${SHINPURU_SP_WEBSERVER_RATELIMIT_ENABLED}
      - SP_WEBSERVER_RATELIMIT_BURST=${SHINPURU_SP_WEBSERVER_RATELIMIT_BURST}
      - SP_WEBSERVER_RATELIMIT_LIMITSECONDS=${SHINPURU_SP_WEBSERVER_RATELIMIT_LIMITSECONDS}
      - SP_WEBSERVER_ACCESSTOKEN_LIFETIMESECONDS=${SHINPURU_SP_WEBSERVER_ACCESSTOKEN_LIFETIMESECONDS}
      - SP_WEBSERVER_CAPTCHA_SITEKEY=${SHINPURU_SP_WEBSERVER_CAPTCHA_SITEKEY}
      - SP_WEBSERVER_CAPTCHA_SECRETKEY=${SHINPURU_SP_WEBSERVER_CAPTCHA_SECRETKEY}
      - SP_CODEEXEC_TYPE=${SHINPURU_SP_CODEEXEC_TYPE}
      - SP_CODEEXEC_RANNA_APIVERSION=${SHINPURU_SP_CODEEXEC_RANNA_APIVERSION}
      - SP_CODEEXEC_RANNA_ENDPOINT=${SHINPURU_SP_CODEEXEC_RANNA_ENDPOINT}
      - SP_CODEEXEC_RATELIMIT_ENABLED=${SHINPURU_SP_CODEEXEC_RATELIMIT_ENABLED}
      - SP_CODEEXEC_RATELIMIT_BURST=${SHINPURU_SP_CODEEXEC_RATELIMIT_BURST}
      - SP_CODEEXEC_RATELIMIT_LIMITSECONDS=${SHINPURU_SP_CODEEXEC_RATELIMIT_LIMITSECONDS}
      - SP_PRIVACY_NOTICEURL=${SHINPURU_SP_PRIVACY_NOTICEURL}
      - SP_PRIVACY_CONTACT_0_TITLE=${SHINPURU_SP_PRIVACY_CONTACT_0_TITLE}
      - SP_PRIVACY_CONTACT_0_VALUE=${SHINPURU_SP_PRIVACY_CONTACT_0_VALUE}
      - SP_PRIVACY_CONTACT_0_URL=${SHINPURU_SP_PRIVACY_CONTACT_0_URL}
    restart: always
    depends_on:
      - mysql-shinpuru
      - redis-shinpuru
      - minio-shinpuru
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
