# Installation: https://www.linkace.org/docs/v1/setup/setup-with-docker/advanced/

services:
  linkace:
    image: linkace/linkace:v2.1.5
    container_name: linkace
    restart: unless-stopped
    environment:
      - APP_KEY=${LINKACE_APP_KEY}
      - SETUP_COMPLETED=${LINKACE_SETUP_COMPLETED}
      - DB_HOST=${LINKACE_DB_HOST}
      - DB_DATABASE=${LINKACE_MARIADB_DATABASE}
      - DB_USERNAME=${LINKACE_MARIADB_USER}
      - DB_PASSWORD=${LINKACE_MARIADB_PASSWORD}
    ports:
      - 8255:80
    volumes:
      - /opt/appdata/linkace/backups:/app/storage/app/backups
      - /opt/appdata/linkace:/app/storage/logs
    depends_on:
      - linkace-mariadb
      - linkace-redis
    networks:
      - proxy

  linkace-mariadb:
    image: mariadb:11.7
    container_name: linkace-mariadb
    restart: unless-stopped
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    environment:
      - MYSQL_ROOT_PASSWORD=${LINKACE_MARIADB_PASSWORD}
      - MYSQL_USER=${LINKACE_MARIADB_USER}
      - MYSQL_PASSWORD=${LINKACE_MARIADB_PASSWORD}
      - MYSQL_DATABASE=${LINKACE_MARIADB_DATABASE}
    volumes:
      - /opt/appdata/linkace-mariadb:/var/lib/mysql
    networks:
      - proxy

  linkace-redis:
    image: bitnami/redis:7.4.2
    container_name: linkace-redis
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
