# Installation: https://github.com/SuperioOne/nut_webgui
# Setup NUT Server Guide: https://youtu.be/vyBP7wpN72c?si=tZ3P_bTlGugjFpKR

services:
  nutweb:
    image: ghcr.io/superioone/nut_webgui:0.4.1
    hostname: nutweb
    container_name: nutweb
    ports:
      - 9101:9000
    environment:
      - POLL_FREQ=${NUTWEB_POLL_FREQ}
      - POLL_INTERVAL=${NUTWEB_POLL_INTERVAL}
      - UPSD_ADDR=${NUTWEB_UPSD_ADDR}
      - UPSD_PORT=${NUTWEB_UPSD_PORT}
      - UPSD_USER=${NUTWEB_UPSD_USER}
      - UPSD_PASS=${NUTWEB_UPSD_PASS}
      - LISTEN=${NUTWEB_LISTEN}
      - PORT=${NUTWEB_PORT}
      - LOG_LEVEL=${NUTWEB_LOG_LEVEL}
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    driver: bridge
    external: true
